
.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}
.form-control-new{
  padding: 10px;
  font-size: 18px;
  outline: none;
  width: 400px;
  border: 1px solid #e1e1e1  ;
}

  .form-control-new:focus{
    border-color: #80bdff;
  }

  
  .btnw {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border-color: #010611;
    margin-top: 20px;
    margin-right: 20px;
    font-size :27px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    font-variant:small-caps;
    
    } 
    .btn1 {
      background-color: rgb(95, 147, 251);
           
    }

    .background2{
      background-color: #ffffff;
      padding: 25px;
      min-height: 50vh;
      display:flex;
      align-items: center;
      color: rgb(0, 0, 0);
    }